<div class="container">
	<div class="container-left">
		<button type="button" title="Back" class="refresh" (click)="homePage()"><i class="fa-solid fa-long-arrow-left">‌</i></button>
	</div>
	<div class="row row-cards vertical">
		<div id="card1" class="card1">
			<h1 class="center">LabSeq Sequence</h1>
			<div>
				<p>Indicate the position to obtain the respective LabSeq sequence value given that for </p>
                <p class="center bold">n>3, f(n) = f(n-4) + f(n-3)</p>
				<p>
					<label for="position">Position (n)</label>
				</p>
				<input type="number" min="0" max="1000000" value="0" name="position" placeholder="Insert the position" [(ngModel)]="position"/>
				<p>
					<label for="value">Value</label>
				</p>
				<div class="sequence-values" [innerHTML]="labSeqvalue"></div>
				<div class="center">
					<button type="button" title="Get Value" class="btn-get" (click)="getValue()">Get</button>
				</div>
			</div>
		</div>
		<div id="error">
			<div class="container-right">
				<button type="button" title="close" class="refresh" (click)="closeDiv()"><i class="fa-solid fa fa-close">‌</i></button>
			</div>
			<p class="center mt-40" [innerHTML]="labSeqErrorValue"></p>
			<div class="center mt-40">
				<button type="button" title="Ok" class="btn-ok" (click)="closeDiv()">Ok</button>
			</div>
		</div>
		<div id="card2" class="card2">
			<div class="grid-container">
				<div class="grid-item"> 
					<h1 class="center historical">Historical</h1>
				</div>
				<div class="grid-item mt-10"> 
					<button type="button" title="Refresh" class="refresh" (click)="getAllLabSeq()"><i class="fa fa-refresh"></i></button>
				</div>
			</div>
			<div class="sequence-values" [innerHTML]="labSequence">
			</div>
		</div>
	</div>
</div>